BasedOnStyle: Microsoft

Cpp11BracedListStyle: true
SortIncludes: true
BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: Left
PointerAlignment: Left
AllowAllArgumentsOnNextLine: false
# ColumnLimit: 100
