BasedOnStyle: Microsoft

Cpp11BracedListStyle: true
SortIncludes: true

BinPackArguments: false
BinPackParameters: false
ExperimentalAutoDetectBinPacking: false

AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

AlignAfterOpenBracket: AlwaysBreak
AlignArrayOfStructures: None
AlignConsecutiveAssignments: false

PointerAlignment: Left
BreakTemplateDeclarations: Yes

# ColumnLimit: 100

BreakBeforeBraces: Custom
BraceWrapping:
	SplitEmptyFunction: false
